* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 16px verdana, sans-serif;
    color: #666;
    line-height: 2;
}

/* Header */
*, h1 {
    color: #666;
}

h1 {
    font-size: 48px;
    margin: 45px 0 25px 0px;
}

h2 {
    color: #f07c17;
    font-size: 24px;
    margin: 7px 0px 28px 0px;
    font-weight: bold;
}

/* Main content */
p {
    margin: 10px 0 10px 0px;
}

p:last-child {
    margin-bottom: 0;
}

/* Main image */
.img-main {
    margin: 7px 0 0 0;
    border-bottom: 1px solid #ccc;
}

/* Main image description */
.img-desc {
    border: 1px solid #ccc;
    margin-top: 28px;
}

.img-desc > ul {
    margin: 0px;
}

.img-desc > h2 {
    margin: 29px 0 0 30px;
}

.img-desc > ul li:first-child {
    margin-top: 30px;
}

.img-desc > ul li {
    margin: 0 0 0 30px;
}

.img-desc > ul li:last-child {
    padding-bottom: 40px;
}
